name: CI

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Setup Checkout
      uses: actions/checkout@v3
      
    - name: Setup Java JDK
      uses: actions/setup-java@v3
      with:
        distribution: temurin # check
        java-version: 11
        
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      
    - name: Execute Gradle build
      run: ./gradlew clean build --exclude-task test
      
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
 
    - name: build image
      run: docker build -t squib0612/sinsahelper-backend:latest .
      
    - name: push image to hub
      run: docker push squib0612/sinsahelper-backend:latest
